$font-color: #ffffff;
$primary-color: #404f49;
$primary-color-darker: #2d2d2d;
$secondary-color: #381f32;
$overlay-color: #4a3b47;
$gray-color: #707070;

$section-margin: 3.5rem 2.5rem;
$nav-height: 29.375rem; //470px

$media-breakpoint-sm: 40.625em; //650px,
$media-breakpoint-very-sm: 29em; //464px
$media-breakpoint-md: 65em; //1040
$media-breakpoint-lg: 75em; //1200px

$card-width: max(20.25rem, calc(14vw + 1rem));
$card-max-width: 80vw;
$cards-container-width: 85.25rem; //1364px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marvel', sans-serif;
    color: $font-color;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
img {
    display: block;
}
form {
    max-width: 90vw;
    isolation: isolate;
}
.attribute {
    display: flex;
    width: fit-content;
    margin: auto;
    opacity: 0.7;
    font-size: 0.9rem;
}
button,
input[type='submit'] {
    all: unset;
    cursor: pointer;
    padding: 1.2em;
    font-size: 1.3125em;
    white-space: nowrap;
    color: white;
    isolation: isolate;
}

button:active {
    scale: 1.02;
}
ul {
    list-style: none;
}
nav li a {
    text-shadow: 0 0 0.375rem rgba($color: #ffffff, $alpha: 0.5);
    &:hover,
    &:focus {
        text-shadow: 0 0 0.375rem rgba($color: #ffffff, $alpha: 1);
    }
}

a:not(nav li a) {
    &:hover,
    &:focus {
        text-shadow: 0 0 0.375rem rgba($color: #ffffff, $alpha: 1);
    }
}
input {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    border-bottom: 0.125rem solid #ffffff;
    z-index: 1000;
}
input[type='submit'] {
    color: #ffffff !important;
    padding: 0;
    text-align: center;
}

textarea {
    font-size: 1.35rem;
    color: black;
}
.hide {
    display: none !important;
}

.primary-btn {
    padding: 0.7rem 1.5rem;
    background-color: rgba($color: $primary-color, $alpha: 0.87);
    border-radius: 1.625rem;
    font-size: 1.625rem;
}

.secondary-btn {
    background-color: $gray-color;
    border-radius: 0.375rem;
    padding: 0.7rem 2rem;
}
/* Hide the skip link visually but make it accessible to screen readers */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #f7f7f7;
    padding: 5px;
    z-index: 1000;
}

.skip-link a {
    position: relative;
    top: 0;
    left: 0;
    color: #333;
    text-decoration: none;
}

/* Style for when the skip link receives focus (keyboard navigation) */
.skip-link a:focus {
    top: -5px; /* Move the link slightly up when focused */
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    z-index: 9999;
    isolation: isolate;
}
li {
    z-index: 9999;
}
h1,
h2,
.header h3 {
    text-shadow: 0 0 0.75rem rgba($color: #ffffff, $alpha: 0.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-fast {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
.fade-in-delay-1 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.6s;
}

.fade-in-delay-2 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.9s;
}

.fade-in-delay-3 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1.3s;
}

h1 {
    font-size: max(5.75rem, calc(3vw + 1rem));
}
h2 {
    font-size: clamp(calc(4vw + 3rem), 5.625rem, 4.5vw);
}
h3 {
    text-align: center;
    font-size: clamp(calc(1.4vw + 1.5rem), 2.125rem, calc(2.5vw + 0.5rem));
}
h4 {
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 3.5rem;
}
h5 {
    font-size: 1.9rem;
}
p {
    font-size: 1.25rem;
}
input,
textarea {
    font-size: 1.25rem;
    padding: 0.36rem 0.7rem;
}
p.read-more__text {
    height: 1.75rem;
    font-weight: bold;
}

.divider {
    width: 100%;
    height: 0.625rem;
    background-color: $primary-color;
}
body {
    section.header {
        display: grid;
        position: relative;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-position: center center;
        background: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
        background-color: $overlay-color;
        padding: 3.5rem;
        min-height: 100vh;
        min-height: 100dvh;
        nav {
            img.hamburger {
                position: absolute;
                top: 3rem;
                right: 3rem;
                display: none;
                cursor: pointer;
            }
            @media only screen and (min-width: $media-breakpoint-md) {
                ul {
                    display: flex;
                    gap: 2rem;
                    justify-content: flex-end;
                    z-index: 1000;
                    li {
                        a {
                            font-size: 1.812rem;
                            font-weight: bold;
                            z-index: 9999;
                        }
                    }
                }
            }
        }
        .header__logo {
            display: flex;
            position: absolute;
            top: 2rem;
            left: 3.5rem;
            gap: 0.3rem;
            h1 {
                text-align: left;
                z-index: 10000;
                cursor: pointer;
            }
            img.header__tree {
                object-fit: contain;
                width: max(1.5rem, 1.6vw);
                aspect-ratio: 1;
            }
        }
        .header__centered {
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            .header__centered__buttons {
                margin: $section-margin;
                display: flex;
                justify-content: center;
                gap: 5vw;
                flex-wrap: wrap;
                margin-top: 4rem;
                margin-bottom: 0;
                z-index: 1000;
                button {
                    z-index: 1000;
                }
            }
        }
    }
}

section.solutions {
    background-color: $primary-color-darker;
    padding: $section-margin;
    text-align: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(images/tanishi.webp);
        background-size: 105%;
        inset: 0;
        background-repeat: no-repeat;
        opacity: 0.2;
    }
    > p {
        max-width: 40ch;
        margin: 0 auto 3.7rem auto;
        font-size: 1.5rem;
    }
    .solutions__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4vw;
        max-width: $cards-container-width;
        margin: 0 auto 3rem auto;
        .solutions__card {
            background-color: $primary-color;
            width: max(20.25rem, calc(16vw + 1rem));
            max-width: 80vw;
            height: 26.3rem;
            border-radius: 0.625rem;
            margin: auto;
            .container {
                height: 100%;
                p.solutions__card__head {
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    width: 25ch;
                    text-align: center;
                    margin: auto;
                }
                img {
                    display: block;
                    margin: 2rem auto 2rem auto;
                    height: 3.4375rem;
                    width: 4rem;
                    object-fit: contain;
                }
                .line {
                    margin-top: 1.5rem;
                    border-bottom: 1px solid #ffffff;
                    height: 0.125rem;
                    margin-bottom: 1.5rem;
                    z-index: 1000;
                    isolation: isolate;
                }
                p:not(.solutions__card__head) {
                    text-align: left;
                    margin: 0.2rem auto;
                }
                .line,
                p:not(.solutions__card__head) {
                    width: 76%;
                    margin-inline: auto;
                }
            }
        }
    }
}

.get-in-touch {
    background-color: $secondary-color;
    padding: $section-margin;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(images/piyush.webp);
        background-size: 105%;
        inset: 0;
        background-repeat: no-repeat;
        opacity: 0.15;
    }
    .get-in-touch__newsletter-and-contact-us {
        display: flex;
        justify-content: center;
        gap: 4vw;
        flex-wrap: wrap;
        .get-in-touch__newsletter {
            background-image: url('/images/woody.png');
            width: 29.4375rem;
            height: 23.5rem;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            border-radius: 0.5rem;
            .get-in-touch__newsletter__box {
                display: inline-block;
                align-self: flex-end;
                margin: 0 2.2rem 2.3rem auto;
                h3 {
                    text-align: left;
                    margin-bottom: 0.5rem;
                }
                form {
                    .get-in-touch__textfield {
                        padding: 0.36rem 0.7rem;
                        background-color: #ffffff;
                        margin-right: -0.25rem;
                        border-radius: 0.5rem 0 0 0.5rem;
                        width: 14.375rem;
                    }
                    .get-in-touch__btn {
                        background-color: $primary-color;
                        padding: 0.36rem 0.85rem 0.49rem 0.85rem;
                        border-radius: 0 0.5rem 0.5rem 0;
                        border: none;
                    }
                }
            }
        }
        .get-in-touch__contact-us {
            color: black;
            h3 {
                text-align: left;
                margin-bottom: 1rem;
                margin-top: 2rem;
            }
            form {
                display: flex;
                gap: 2rem;
                *:not(label, h3) {
                    margin-bottom: 1.5rem;
                }
                .contact-us__form_details {
                    display: flex;
                    flex-direction: column;
                    input[type='submit'] {
                        border: none;
                        background-color: $primary-color;
                        width: 6.6875rem;
                        height: 2.875rem;
                        border-radius: 0.5rem;
                        margin-top: 1.5rem;
                        color: black;
                    }
                }
                textarea {
                    font-size: 1.35rem;
                    color: black;
                    height: 8.125rem;
                    width: 21.25rem;
                    margin-bottom: 0;
                }
                input {
                    color: black;
                    background-color: #ffffff;
                    width: 14.375rem;
                }
            }
        }
    }
}

section.news {
    justify-content: center;
    background-color: $primary-color-darker;
    padding: $section-margin;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(images/tanishi.webp);
        background-size: 105%;
        inset: 0;
        background-repeat: no-repeat;
        opacity: 0.2;
    }
    h3 {
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .news__content {
        margin: auto;
        .news__cards {
            display: grid;
            justify-content: center;
            gap: 4vw;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: $cards-container-width;
            margin: auto;
            margin-bottom: 2rem;
            & > div {
                margin: auto;
            }
            .news__card {
                text-align: left;
                margin: auto;
                border-radius: 0.625rem;
                max-width: $card-max-width;
                img {
                    width: $card-width;
                    max-width: $card-max-width;
                    height: 11.1rem;
                    border-radius: 0.625rem 0.625rem 0 0;
                    object-fit: cover;
                    padding: 0;
                }
                .news__card__bottom {
                    background-color: $primary-color;
                    padding: 2.2rem 1.8rem;
                    margin: auto;
                    border-radius: 0 0 0.625rem 0.625rem;
                    width: $card-width;
                    max-width: $card-max-width;
                    h5 {
                        padding-bottom: 1.2rem;
                    }
                    p {
                        text-align: left;
                        padding-bottom: 1.5rem;
                    }
                    .read-more {
                        width: fit-content;
                        display: flex;
                        border-bottom: 1px solid #ffffff;
                        margin-bottom: 0;
                        .read-more__text {
                            padding: 0 0.3rem 0 0;
                            font-size: 1.2rem;
                        }
                        img.read-more__arrow {
                            padding-top: 0.2rem;
                            height: 1.2rem;
                            width: 1rem;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    a.all-news {
        font-size: 1.375rem;
        margin-left: 1rem;
    }
}

.footer {
    background-color: $secondary-color;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 2rem 6rem;
    padding: $section-margin;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(images/piyush.webp);
        background-size: 105%;
        inset: 0;
        background-repeat: no-repeat;
        opacity: 0.15;
    }
    & > * {
        width: 15.625rem !important;
    }
    h5 {
        padding-bottom: 2rem;
    }
    .footer__privacy {
        ul {
            list-style-type: none;
            margin-bottom: 2.1rem;
            li {
                margin-bottom: 0.7rem;
            }
        }
    }
    .footer__social {
        padding-bottom: 2rem;
        width: 13.9375rem;
        .site {
            padding-bottom: 0.7rem;
            display: flex;
            gap: 0.6rem;
            img {
                margin-right: 0.2rem;
                object-fit: contain;
            }
        }
    }
}

@media only screen and (max-width: $media-breakpoint-md) {
    body nav {
        img.hamburger#hamburger {
            display: block;
            position: absolute;
            top: 3rem;
            right: 3rem;
            z-index: 99999;
        }
        ul {
            position: absolute;
            display: flex;
            gap: 0rem;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: auto;
            width: 12.5rem;
            right: 0;
            top: 0;
            z-index: 1;
            transform: translateX(100%);
            transition: transform 250ms ease-in-out;
            z-index: 1500;
            li {
                margin-left: auto;
                margin-right: 2rem;
                margin-top: 2rem;
                a {
                    font-size: 1.8125rem;
                    font-weight: bold;
                }
                &:first-child {
                    margin-top: 7rem;
                }
            }
        }
        ul:before {
            content: '';
            position: absolute;
            background-color: $secondary-color;
            width: 12.5rem;
            height: $nav-height;
            opacity: 85%;
            z-index: -1;
            border-radius: 0 0 0 0.6rem;
        }

        ul.open#navigation {
            transform: translateX(0%);
            transition: transform 250ms ease-in-out;
        }
    }
}

@media only screen and (max-width: $media-breakpoint-lg) {
    .news__cards,
    .solutions__cards#solutions {
        grid-template-columns: 1fr !important;
        .news__card,
        .news__card > img,
        .solutions__card {
            padding-bottom: 2rem;
            height: auto;
            .solutions__card__head {
                font-size: 1.5rem !important;
            }
        }
    }
}

@media only screen and (max-width: $media-breakpoint-sm) {
    .get-in-touch__contact-us form {
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: $media-breakpoint-very-sm) {
    section.header {
        padding: 0 !important;
    }
    section.solutions {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    section.get-in-touch {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .header__centered__buttons {
        margin-inline: 0 !important;
    }
    .get-in-touch__newsletter__box {
        margin-right: 0 !important;
        margin-left: 0.5rem !important;
        h3 {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    form[action='text'] {
        display: flex !important;
        margin: auto;
    }
}
